.modal-background {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    z-index: 999;
}

.modal-container {
    background-color: #FFFFFF;
    max-width: 70%;
    max-height: 70%;
    min-width: 20%;
    min-height: 20%;
    border-radius: 14px;
    padding: 16px;
}